::-webkit-scrollbar {
    display: none;
}

body {
    background-color: transparent;
}

.d-none,
.hidden {
    display: none !important;
}

.disabled {
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: .4;
}

.clickable {
    cursor: pointer;
}

.noselect {
    user-select: none;
    /* Standard for modern browsers */
    -webkit-user-select: none;
    /* For Safari */
    -moz-user-select: none;
    /* For older versions of Firefox */
    -ms-user-select: none;
    /* For Internet Explorer/Edge */
}

.z--1 {
    z-index: -1;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.advanced-only {
    display: none !important;
}

/* OUR BRAND COLORS */
:root {
    --primary-color: #6F42C1 !important;
    --primary-color-tinted: #9F74D5 !important;
    /* Lighter version of #6F42C1 */
    --primary-color-shaded: #4B2C86 !important;
    /* Darker version of #6F42C1 */
    --primary-color-contrasted: white !important;

    --primary-color-o10: rgba(111, 66, 193, 0.10) !important;
    --primary-color-o20: rgba(111, 66, 193, 0.20) !important;
    --primary-color-o30: rgba(111, 66, 193, 0.30) !important;
    --primary-color-o75: rgba(111, 66, 193, 0.75) !important;
    --primary-color-o80: rgba(111, 66, 193, 0.80) !important;

    --main-background: url("./background-default.jpg");

    --heading-font: Montserrat, sans-serif !important;
    --body-font: 'Open Sans' !important;
    --text: black;
}

body {
    font-family: var(--body-font);
}

h1,
h2,
.h2-brand,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

.tag-title-brand,
.subtitle-brand {
    font-family: var(--heading-font);
}

body.main-background {
    background: var(--main-background) repeat top center fixed;
    background-size: 100% 100%;
    animation: backgroundFade 9s ease-in-out forwards;
}

body.main-background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

@keyframes backgroundFade {
    from {
        background-size: 150%;
    }

    to {
        background-size: 140%;
    }
}

/* Information Hierarchy */

.h2-brand {
    display: block;
    border-radius: 0;
    padding: 8px 16px;
    color: whitesmoke;
    background-color: var(--primary-color);
    width: fit-content;
    margin: 15px auto;
    font-weight: 700;
    font-size: 24px;
}

.tag-title-brand {
    color: var(--primary-color);
    font-size: 22px;
    line-height: 28px;
    text-transform: capitalize;
    padding: 0;
    margin: 20px auto;
    text-align: center;
}

/* Color Utilities */

.textcolor-brand {
    color: var(--primary-color);
}

.textcolor-brand-contrasted {
    color: var(--primary-color-contrasted);
}

.bgcolor-brand {
    background-color: var(--primary-color);
}

.bgcolor-brand-secondary {
    background-color: var(--secondary-color);
}

.bgcolor-brand-contrasted {
    background-color: var(--primary-color-contrasted);
}

.hover\:bgcolor-brand:hover {
    background-color: var(--primary-color) !important;
}

.hover\:bgcolor-brand-contrasted:hover {
    background-color: var(--primary-color-contrasted) !important;
}

/* Grouping */

.border-brand-primary {
    border: 1px solid var(--primary-color);
}

.border-brand-primary-contrasted {
    border: 1px solid var(--primary-color-contrasted);
}

.hover\:border-brand-primary-contrasted:hover {
    border: 1px solid var(--primary-color-contrasted) !important;
}

/* Interaction */

a {
    color: var(--primary-color);
    transition: all 300ms ease-in-out;
}

a:hover {
    color: var(--primary-color);
}

.btn-danger,
.btn-light,
.btn-dark {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-danger {
    color: white !important;
    background-color: rgba(239, 68, 68, 1) !important;
    border-color: rgba(239, 68, 68, 1) !important;
}

.btn-danger:hover {
    color: white !important;
    background-color: rgba(239, 68, 68, 1) !important;
    border-color: rgba(239, 68, 68, 1) !important;
}

.btn-light {
    color: var(--primary-color) !important;
    background-color: white !important;
    border-color: white !important;
}

.btn-dark {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
}

.btn-brand-primary {
    border-radius: 0.25rem;
    border-width: 0;

    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-color);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .25s ease-in;
    cursor: pointer;
}

.btn-brand-primary.disabled,
.btn-brand-secondary-2.disabled {
    color: white !important;
    background-color: rgba(229, 231, 235, 0.8) !important;
    cursor: not-allowed !important;
    border: 0 !important;
}

.btn-brand-primary:disabled {
    cursor: not-allowed !important;
    opacity: 0.2;
}

.btn-brand-primary-3 {
    border-radius: 0.25rem;
    border-width: 0;

    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-color-tinted);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .25s ease-in;
    cursor: pointer;
}

.btn-brand-primary-2 {
    font-weight: 400;
    font-style: normal;
    background-color: white !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color-o75) !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 2s ease-in-out;
    cursor: pointer;
}

.btn-brand-primary-2:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.btn-brand-secondary {
    border-radius: 0.25rem;
    border-width: 0;

    font-weight: 400;
    font-style: normal;

    background-color: var(--primary-color-o80);
    border: 1px solid var(--primary-color);
    color: var(--primary-color-contrasted);

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .25s ease-in;
    cursor: pointer;
}

.btn-brand-secondary-2 {
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-color-o10) !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color-o75) !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .25s ease-in;
    cursor: pointer;
}

.btn-brand-tertiary {
    font-weight: 400;
    font-style: normal;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: var(--primary-color-o75) !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .25s ease-in;
    cursor: pointer;
}

.btn-brand-tertiary:hover {
    background-color: rgba(125, 125, 125, 0.2) !important;
}

.btn-brand-primary:not([disabled]):not([data-not-ready]):hover,
.btn-brand-primary-3:not([disabled]):not([data-not-ready]):hover,
.btn-brand-secondary:not([disabled]):not([data-not-ready]):hover {
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
}

/* Featuring */

.card-brand-featured-shadowed {
    color: var(--primary-color-contrasted);
    background-color: var(--primary-color);
    box-shadow: 0 1rem 3rem var(--primary-color-o30) !important
}

/* Accent elements */

.border-brand-1-o80 {
    border: 1px solid var(--primary-color-o80) !important;
}

.border-brand-2-o80 {
    border: 2px solid var(--primary-color-o80) !important;
}

.border-brand-3 {
    border: 3px solid var(--primary-color) !important;
}

.bgcolor-brand-o20 {
    background-color: var(--primary-color-o20);
}

/* Image transform (Black to brand color) */

.image-wrapper-blend::before,
.thumbnail-container:has(img[title="blank"])::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    /* Replace black areas with this color */
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

.image-wrapper-blend,
.thumbnail-container:has(img[title="blank"]) {
    position: relative;
}

.image-wrapper-blend>img,
.thumbnail-container>img[title="blank"] {
    mix-blend-mode: lighten;
    filter: saturate(0);
    /* Darken all colors, so the black can be blended with the brand color */
}

/* Volume adjusment bar */
input[type=range],
input[type=range],
input[type=range] {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    background-color: var(--primary-color-o80) !important;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        -webkit-appearance: none;
        background-color: rgba(150, 150, 150, 0.5) !important;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: var(--primary-color-o80);
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #434343;
        box-shadow: -80px 0 0 80px var(--primary-color-o80);
    }

}

/* FF */
input[type="range"]::-moz-range-progress {
    background-color: var(--primary-color-o80);
}

input[type="range"]::-moz-range-track {
    background-color: rgba(150, 150, 150, 0.5);
}

/* IE */
input[type="range"]::-ms-fill-lower {
    background-color: var(--primary-color-o80);
}

input[type="range"]::-ms-fill-upper {
    background-color: rgba(150, 150, 150, 0.5);
}

input[type=range] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 6px;
    height: 6px;

    background-image: -webkit-gradient(linear,
            left top,
            right top,
            color-stop(15%, var(--primary-color)),
            color-stop(15%, var(--primary-color-tinted)));

    background-image: -moz-linear-gradient(left center,
            var(--primary-color) 0%, var(--primary-color) 15%,
            var(--primary-color-tinted) 15%, var(--primary-color-tinted) 100%);
}

input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    /* background-color: var(--primary-color); */
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none !important;
    /* background-color: var(--primary-color); */
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}