/* Styling for the label */
.inline-flex {
    display: inline-flex;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

/* Hide the checkbox itself */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Base slider styles */
.toggle-slider {
    position: relative;
    width: 44px;
    height: 24px;
    background-color: #e5e7eb;
    /* gray-200 */
    border-radius: 9999px;
    /* Full rounded */
    transition: background-color 0.1s ease-in-out;
}

/* The circular toggle indicator */
.toggle-slider::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    /* white */
    border-radius: 50%;
    /* Full rounded */
    transition: transform 0.3s ease-in-out;
}

/* Change background and move circle when checked */
/* Background of switch vs switch toggler foreground */
/* .toggle-checkbox:checked + .toggle-slider {
    background-color: var(--primary-color);
  } */


.toggle-checkbox:checked+.toggle-slider::before {
    transform: translateX(20px);
}

/* Focus outline */
.toggle-checkbox:focus-visible+.toggle-slider {
    outline: 4px solid #93c5fd;
    /* blue-300 */
}

/* ADJUSTABLE: Oval container border color when off */
/* .toggle-checkbox:not(:checked) + .toggle-slider {
    border: 1px solid var(--primary-color-o10);
} */

/* ADJUSTABLE: Oval container border color when ON */
.toggle-checkbox:checked + .toggle-slider {
    border: 1px solid var(--primary-color-o80);
}

/* ADJUSTABLE: Circle border color when off */
.toggle-checkbox:not(:checked) + .toggle-slider::before {
    border: 2px solid var(--primary-color-o80);
}

/* ADJUSTABLE: Circle filled when ON */
.toggle-checkbox:checked+.toggle-slider::before {
    background-color: var(--primary-color);
}